<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:rgb(20, 152, 212);">
    <h1><a class="navbar-brand" href="#">Task</a></h1> 
     <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
         aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="collapsibleNavId">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item active">
                 <a routerLink="/home" class="nav-link">Home</a>
             </li>
             <br>
             <li class="nav-item">
                 <a routerLink="/about" class="nav-link">about</a>
             </li>
             <br>
             <li class="nav-item">
                 <a routerLink="/contact" class="nav-link">contact</a>
             </li>
             <br>
             <li class="nav-item">
                 <a routerLink="/studentList" class="nav-link">studentList</a>
             </li>
             <br>
        
            <li class="nav-item">
                <a routerLink="/register" class="nav-link">register</a>
            </li>
            <br>
            <li class="nav-item">
                <a routerLink="/Login" class="nav-link">login</a>
            </li>
         </ul>
         
     </div>
 </nav>
 <router-outlet></router-outlet>